body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  font-size: 8px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  display: flex;
  flex-flow: column;
}
