.Message {
  align-items: center;
  background-color: #463f3a;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  height: 7%;
  justify-content: flex-start;
  left: 3vw;
  padding: 0 1%;
  position: absolute;
  top: 15%;
  width: 60vw;
}

.Message > .MessageButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 1%;
  width: 10%;
  padding: 0;
}

.Message > .MessageButton > .material-icons {
  color: #f4f3ee;
  font-size: 70%;
  height: 1em;
}

.Message > strong {
  font-size: 30%;
  padding: 2%;
}
